body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal;
    background: linear-gradient(180deg, #fffaf1 0%, #ffffff 60%, #fff0d9 100%) !important;
    color: #292929 !important;
}