:root {
    --primary: #f8a93a;
    --secondary: #FDE3C1;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal;
    background: linear-gradient(180deg, #fffaf1 0%, #ffffff 60%, #fff0d9 100%) !important;
    color: #292929 !important;
}

.py-8 {
    padding-top: 7.5rem !important;
    padding-bottom: 7.5rem !important;
}

.py-7 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.title,
.hero-text-title {
    color: var(--primary);
}

.navbar .navbar-nav .nav-item .nav-link.active {
    color: var(--primary);
    font-weight: 500;
}

/* Hero Section Start */

.hero .hero-text-container .btn {
    background-color: var(--primary);
    color: white !important;
}

.hero .hero-img-container {
    box-shadow: -40px 40px var(--secondary);
}

#heroCarousel .carousel-control-prev {
    top: auto;
    bottom: 15px;
    left: 20px;
    transform: none;
}

#heroCarousel .carousel-control-next {
    top: auto;
    bottom: 15px;
    left: 80px;
    transform: none;
}

@media (min-width: 992px) {
    .hero-text-container {
        position: absolute;
        left: 0;
        top: 30px;
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.6);
    }

    .hero-img-container {
        max-width: 700px;
        max-height: 620px;
    }
}

/* Hero Section End */
/* About Section Start */

#aboutCarousel {
    box-shadow: 25px 25px var(--secondary);
    max-width: 600px;
}

#aboutCarousel .carousel-control-prev {
    top: auto;
    bottom: 10px;
    transform: none;
    left: auto;
    right: 50px;
}

#aboutCarousel .carousel-control-next {
    top: auto;
    bottom: 10px;
    transform: none;
    left: auto;
    right: 0px;
}

/* About Section End */
/* Product Section Start */

.card-container{
    background-color: var(--secondary);
    border-radius: 5px;
    width: 300px;
}

.card-container .price-tag{
    background-color: rgba(255, 255, 255, 0.6);
    color: var(--primary);
    position: absolute;
    bottom: 0px;
    left: 20px;
    z-index: 999;
    padding: 10px 20px;
    border-radius: 10px;
}

/* Product Section End */